.container{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    direction: rtl;

    > .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        
        > .header-title{
            > h1{
                margin: 0;
                padding: 0;
                color: #000000;
            }
            > div{
                display: flex;
                align-items: center;
                font-size: 12px;
                margin-top: 5px;

                > span:nth-child(1){
                    color: var(--green-active);
                }

                > span:nth-child(2){
                    color: var(--text-color);
                }
            }
        }

        .share-icon{
            color: gray !important;
            background-color: white;
            width: -1% !important;
            padding: none !important;
            border-radius: 10px;
            border: none !important;
            outline: none !important;
            padding: 12px 0px;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }

    > .main{
        width: 100%;
        padding: 10px 50px;

        .accordion-wrapper {
            column-count: 2;
            list-style: none;
            padding: 0;
            padding-top: 30px;
            border-top: solid 1px var(--border-color);

            .item {
                width: 100%;
                display: inline-block;
                margin: 0 0 10px;
            }
            .break-items {
                break-after: column;
            }
            > .spinner-container{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 100px 0px;
            }
        }

        > .cards-box{
            width: 100%;
            height: 700px;
            padding: 30px 10px;
            display: flex;
            flex-flow: column wrap;
            align-content: space-between;

            > .accordion-container{
                width: 49%;
                position: relative;
                margin-bottom: 2%;
                &:nth-child(odd) { order: 1; }
                &:nth-child(even) { order: 2; }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .main{
        padding: 10px 20px !important;

        .accordion-container{
            width: 100% !important;
        }
        .accordion-wrapper {
            column-count: 1 !important;

            .break-items {
                break-after: auto !important;
            }
        }
    }
}