@font-face {
  font-family: "iran-yekan-farsi";
  src: url("assets/font/iranYekanBoldFN.ttf");
  font-weight: 700;
  font-display: fallback;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "iran-yekan-farsi", serif;
  background-color: var(--bg-color);
}

:root{
  --green-active: #b0bf24;
  --bg-color: #f9f9fb;
  --text-color: #3a3a3a;
  --border-color: #e4e6ef;
  --text-detail: #656565;
}