.accordion{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px !important;
    border-radius: 8px !important;
    margin-bottom: 10px;
}

.accordion-header{
    direction: rtl;
    color: var(--text-color) !important;
    padding: 3px 20px !important;
}

.accordion-detail{
    border-top: 1px solid var(--border-color);
    color: var(--text-detail) !important;
    font-family: "iran-yekan-farsi" !important;   
}